@model IEnumerable<IMS.Models.Payment>

@{
    ViewBag.Title = "Index";
}

<h2>Payments</h2>

<p>
    @Html.ActionLink("Create New Payment", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.card)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.method)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updateTime)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.card)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.method)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updateTime)
        </td>*@
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
